<div class="container py-5">
  <!-- Title logo -->
  <div class="d-flex justify-content-center align-items-center cursor-pointer pb-4">
    <div class="d-flex outline-none" [routerLink]="['/rent', 'houses']">
      <div class="color-primary pr-2 pt-1">
        <mat-icon class="medium-icon">room</mat-icon>
      </div>
      <div class="title-text">
        <div>
          <span class="mat-display-1">Find your home</span>
        </div>
        <div class="d-flex justify-content-end">
          <span class="mat-subheading-2">houses and apartments</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcumb -->
  <div class="d-flex justify-content-end pb-4">
    <div><span class="mat-caption color-primary cursor-pointer" [routerLink]="['/rent/houses']">Rent</span></div>
    <div class="px-2">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
    <div><span class="mat-caption">Check for home</span></div>
  </div>
  <!-- Ad -->
  <div class="pb-5">
    <mat-card class="p-5">
      <div class="d-flex justify-content-between pb-5">
        <div class="d-flex align-items-center">
          <button mat-icon-button>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
        <div>
          <mat-card class="main-photo">
            <div class="d-flex justify-content-center align-items-center flex-column h-100">
              <div class="pb-2">
                <mat-icon class="main-photo-icon color-light-grey">home</mat-icon>
              </div>
              <div>
                <span><em>No photo</em></span>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="d-flex align-items-center">
          <button mat-icon-button>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
      <div class="px-4 pb-5">
        <div class="d-flex justify-content-between pb-5">
          <div>
            <div>
              <span class="mat-title"><strong>Ressaca</strong></span>
            </div>
            <div>
              <span>Rua Coronel Francisco Antônio Pereira - Ressaca, Contagem - MG</span>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="pr-2">
              <span>R$</span>
            </div>
            <div>
              <span class="mat-display-1">800,00</span>
            </div>
          </div>
        </div>
        <div class="pb-5">
          <p>
            CASA DE 2 QUARTOS, SALA, COPA, COZINHA, BANHO SOCIAL, AREA DE SERVIÇPO COBERTA, TERRAÇO DE +/- 90 M², 1
            VAGA COBERTA, ENTRADA INDEPENDENTE. *CONDOMÍNIO E IPTU SÃO REFERENCIAIS E PODEM SOFRER ALTERACÕES.WHATSAPP:
            .
          </p>
        </div>
        <div class="d-flex justify-content-around pb-5">
          <div class="d-flex">
            <div class="pr-3">
              <mat-icon class="medium-icon">airline_seat_flat</mat-icon>
            </div>
            <div class="d-flex justify-content-center">
              <span class="mat-title">1</span>
            </div>
          </div>
          <div class="d-flex">
            <div class="pr-3">
              <mat-icon class="medium-icon">bathtub</mat-icon>
            </div>
            <div class="d-flex justify-content-center">
              <span class="mat-title">1</span>
            </div>
          </div>
          <div class="d-flex">
            <div class="pr-3">
              <mat-icon class="medium-icon">event_seat</mat-icon>
            </div>
            <div class="d-flex justify-content-center">
              <span class="mat-title">2</span>
            </div>
          </div>
          <div class="d-flex">
            <div class="pr-3">
              <mat-icon class="medium-icon">directions_car</mat-icon>
            </div>
            <div class="d-flex justify-content-center">
              <span class="mat-title">3</span>
            </div>
          </div>
          <div class="d-flex">
            <div class="pr-3">
              <mat-icon class="medium-icon">view_column</mat-icon>
            </div>
            <div class="d-flex justify-content-center">
              <span class="mat-title">1</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center pb-5">
        <button mat-flat-button class="px-5 py-1" color="primary">Contact owner</button>
      </div>
    </mat-card>
  </div>
</div>